@layer tokens {
    :where(:root, :host) {
  --colors-neutral-100: #D5CEE3;
  --colors-neutral-200: #B5ABC9;
  --colors-neutral-300: #897AA7;
  --colors-neutral-400: #716192;
  --colors-neutral-500: #4D4261;
  --colors-neutral-600: #352E42;
  --colors-neutral-700: #292433;
  --colors-support-red: #ED351C;
  --colors-support-yellow: #F1B51A;
  --colors-support-green: #B7EE19;
  --colors-support-blue: #327BED;
  --sizes-base: 8px;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --colors-page-heading-highlight-color: #F1B51A;
  --spacing-body: var(--tokens-sizes-base)
}

.dark {
  --colors-page-background-color: #292433;
  --colors-page-text-color: #D5CEE3
}

.light {
  --colors-page-background-color: #D5CEE3;
  --colors-page-text-color: #292433
}
  }
  